<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Awesome Jokes!</title>
		<link rel="stylesheet" href="/assets/css/foundation.min.css" />
		<link rel="stylesheet" href="/assets/css/custom.css" />
    <script src="/assets/js/vendor/modernizr.min.js"></script>
	</head>
	<body>

		<nav class="top-bar custom-top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">AwesomeJokes.com</a></h1>
		    </li>
		  </ul>

			<section class="top-bar-section">
			  <ul class="right">
			  	 <li><a href="/jokes/new">Add a Joke</a></li>
			  </ul>
			</section>
		</nav>


		<%= yield %>


		<script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

	</body>
</html>