<div class="row">
  <div class="small-8 columns">
  	<h2>All Jokes</h2>

		<div id="Jokes">
			<table>
			  <thead>
			    <tr>
			      <th>Set-Up</th>
			      <th>Punchline</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @jokes.each do |joke| %>
						<tr>
							<td><%= joke.setup %></td>
							<td><%= joke.punchline %></td>
						</tr>
					<% end %>
			  </tbody>
			</table>
		</div>

  </div>
</div>