<div class="row">
  <div class="small-8 columns">

		<form action="/jokes" method="post" id="new_joke">
		  <div class="row">
		    <div class="small-12 columns">
		      <label>Set-Up
		        <input type="text" name="joke[setup]" />
		      </label>
		    </div>

		    <div class="small-12 columns">
		      <label>Punchline
		        <input type="text" name="joke[punchline]" />
		      </label>
		    </div>

		    <div class="small-12 columns">
		      <input type="submit" class="button small" value="Add Joke" />
		    </div>
		  </div>
		</form>

	</div>
</div>